language: python
  
python:
  - "2.7"

before_install:
    - pip install -U pytest pytest-cov
    - pip install codecov

install:
  - pip install -r requirements.txt

script:
  - pytest --cov=./

after_success:
  - codecov
